#serverForm {
    margin-top: 100px;
    margin-bottom: 50px;
}

.Server {
    margin-bottom: 20px;
}

.serverLink {
    position: relative;
}

.serverLink .Link {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.tag{
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}