.serverInfo {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.header {
    display: flex;
}

.header div {
    float: left; 
    margin: 10px;
}

.icon {
    border-radius: 20%;
    width: 150px;
    height: 150px;
}