.serverInfo {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.icon {
    border-radius: 20%;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.nitro {
    background-color: #f47fff !important;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.tag{
    font-weight: bold;
}